* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;

    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "nav header" "nav content";
}

#nav-bar {
    grid-area: nav;
    background-color: rgb(25, 146, 212);
    padding: 1rem 1rem;
    color: white;
    font-size: large;
    font-weight: bold;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: min-content;
    align-items: center;
    gap: 1rem 0.5rem;
}

#nav-bar > p:first-of-type {
    font-size: 25px;
}

#nav-bar > img:first-of-type {
    width: 40px;
    height: 40px;
}

#nav-bar > div.space {
    height: 1rem;
    grid-column: span 2;
}

#nav-bar img {
    filter: invert(1);
    justify-self: center;
    width: 20px;
    height: 20px;
}

#header {
    grid-area: header;
}

#header img {
    width: 20px;
    height: 20px;
}

#content {
    grid-area: content;
    background-color: rgb(226, 232, 240);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "projects announcements" "projects trending";
    gap: 2rem;
    padding: 1.5rem;
}

#projects-panel {
    grid-area: projects;
}

#projects-panel > h4 {
    margin-bottom: 0.5rem;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.5rem;
}

.project {
    padding: 2rem 2rem 2rem 1.5rem;
    border-radius: 0.5rem;
    border-left: 0.5rem solid rgb(240, 180, 41);
    box-shadow: 1px 1px 5px 2px #ccc;
    background-color: #fff;

    display: flex;
    flex-direction: column;
}

.project > h4 {
    margin-bottom: 0.25rem;
}

.project > p {
    color: rgb(99, 99, 99);
    margin-bottom: 1.5rem;
}

.project > div.project-icons {
    margin-top: auto;
    width: 100%;
    height: 20px;
    display: flex;
    gap: 2rem;
    justify-content: end;
}

div.project-icons > span {
    min-width: 20px;
    min-height: 20px;
}

span.star-plus {
    background-image: url("./assets/star-plus-outline.svg");
}

span.eye-plus {
    background-image: url("./assets/eye-plus-outline.svg");
}

span.source-fork {
    background-image: url("./assets/source-fork.svg");
}

#announcements {
    grid-area: announcements;
}

#trending {
    grid-area: trending;
}
